In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv('melbourne_housing.csv')

In [13]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/2/2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/3/2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,4/3/2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/6/2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26/08/2017,16.7,3150,...,2,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392
13576,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26/08/2017,6.8,3016,...,2,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380
13577,Williamstown,83 Power St,3,h,1170000,S,Raine,26/08/2017,6.8,3016,...,2,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380
13578,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26/08/2017,6.8,3016,...,1,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380
13579,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26/08/2017,6.3,3013,...,1,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543

In [14]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [15]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [16]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [17]:
cols_to_zero = ['Distance','Bedroom2', 'Bathroom', 'Car', 'Propertycount']
df[cols_to_zero] = df[cols_to_zero].fillna(0)
df['Landsize'] = df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df['BuildingArea'].mean())

In [18]:
df = df.drop(columns=['Address', 'Date', 'Postcode', 'YearBuilt', 'Lattitude', 'Longtitude'])

In [19]:
df.dropna(inplace=True)
df.isnull().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [20]:
df.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Distance',
       'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'CouncilArea', 'Regionname', 'Propertycount'],
      dtype='object')

In [21]:
df = pd.get_dummies(df, drop_first=True)
df

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,2,1480000,2.5,2,1,1.0,202,151.96765,4019,0,...,0,1,0,0,1,0,0,0,0,0
1,2,1035000,2.5,2,1,0.0,156,79.00000,4019,0,...,0,1,0,0,1,0,0,0,0,0
2,3,1465000,2.5,3,2,0.0,134,150.00000,4019,0,...,0,1,0,0,1,0,0,0,0,0
3,3,850000,2.5,3,2,1.0,94,151.96765,4019,0,...,0,1,0,0,1,0,0,0,0,0
4,4,1600000,2.5,3,1,2.0,120,142.00000,4019,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12208,3,1285000,6.8,3,1,0.0,296,151.96765,6380,0,...,0,0,0,0,0,0,0,0,1,0
12209,2,560000,4.6,2,1,1.0,0,61.60000,4380,0,...,0,0,0,0,0,0,0,1,0,0
12210,3,525300,25.5,3,2,2.0,400,151.96765,2940,0,...,0,0,0,0,1,0,0,0,0,0
12211,2,750000,6.3,2,1,2.0,269,151.96765,6543,0,...,0,0,0,0,0,0,0,0,1,0
12212,6,2450000,6.3,6,3,2.0,1087,388.50000,6543,0,...,0,0,0,0,0,0,0,0,1,0

In [22]:
X = df.drop(columns=['Price'])
Y = df['Price']

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, random_state=1)

In [25]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, Y_train)

In [26]:
print('Train Score : \t', reg.score(X_train, Y_train))
print('Test Score : \t', reg.score(X_test, Y_test))

Train Score : 	 0.7043066245046001
Test Score : 	 -4703654559939.785

In [27]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=100, max_iter=100)
lasso_reg.fit(X_train, Y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 485714629157353.9, tolerance: 304886001038.99554
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=100, max_iter=100)

In [28]:
print('Train Score : \t', lasso_reg.score(X_train, Y_train))
print('Test Score : \t', lasso_reg.score(X_test, Y_test))

Train Score : 	 0.6961189487387774
Test Score : 	 0.6461364292226185

In [29]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=100, max_iter=100)
ridge_reg.fit(X_train, Y_train)

Ridge(alpha=100, max_iter=100)

In [30]:
print('Train Score : \t', ridge_reg.score(X_train, Y_train))
print('Test Score : \t', ridge_reg.score(X_test, Y_test))

Train Score : 	 0.6502247647844048
Test Score : 	 0.6210923939107456